body {
    background-color: #F5F5F5;
}

hr {
    border-style: dotted none none;
    height: 0px;
    width: 5%;
    border-color: #30475E;
    border-width: 5px;
}

h1 {
    color: #F05454;
}

h3 {
    color: #F05454;
}